<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" parallel="tests"
       thread-count="1">


    <test name=" Test _ chrome">
        <parameter name="browser" value="Chrome" />
        <parameter name="url" value="https://yashkarn-dev-ed.develop.my.salesforce.com" />

        <classes>
            <class name="testCases.LoginAndCreteAccount" />

        </classes>
    </test>


</suite>